@model IEnumerable<Media.Growth.OptimiserWeb.Models.ContactPoint>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactPointName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel.ChannelName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPointName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Channel.ChannelName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactPointId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactPointId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactPointId })
        </td>
    </tr>
}

</table>
