@model IEnumerable<Media.Growth.OptimiserWeb.Models.Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ClientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientContactNo)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ClientAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientContactNo)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientId })
        </td>
    </tr>
}

</table>
